<div id="headerpart">
  <script type="text/javascript">
    window.addEventListener('beforeunload', function(e) {
      alert("expire <%= id %>");

      $.ajax({        
                url: "search.cgi",
                type: 'POST',
                data: {
                  'expire': "<%= id %>"
                },
                timeout: 10000,
                dataType: 'text'
      }).done(function (data) { //Ajax通信に成功したときの処理
          //alert(`success${data}`);
      }).fail(function (data) { //Ajax通信に失敗したときの処理
          alert('cache finalize error');
      }).always(function (data) { //処理が完了した場合の処理
          //alert('always');    
      });

      e.returnValue = 'cache finalize';
    }, false);
  </script>
  <style>
    #headerpart {
      position: fixed;
      background-color: rgba(255, 106, 0, 0.58);
      width: 100%;
      max-height: 50px;
      z-index: 99;
    }

    #header>h1:first-child {
        margin-top: 70px;
    }

    input {
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
    }

    .checkbox {
      display: none;
    }
    .checkbox + .checkbox-icon {
      position: relative;
      vertical-align: middle;
    }
    .checkbox + .checkbox-icon:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f063"; /*↓*/
    }
    .checkbox:checked + .checkbox-icon:before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f061"; /*→*/
    }
  </style>
  <div class="ui">
    <form action="http://localhost:4000/search.cgi">
      <input type="text" id="pattern"    name="pattern"    placeholder="pattern" value="<%= cgi["pattern"] %>">
      <input type="text" id="repository" name="repository" placeholder="repository" list="repositories" size="10" value="<%= cgi["repository"] %>">
        <datalist id="repositories">
          <option value="test1">
          <option value="test2">
        </datalist>
      <input type="text" id="branch"     name="branch"     placeholder="branch"     list="revs" size="10" value="<%= cgi["branch"] %>">
        <datalist id="revs">
          <option value="test1">
          <option value="test2">
        </datalist>
      <input type="text" id="file"       name="file"       placeholder="file"   size="10" value="<%= cgi["file"] %>">
      <label id="direction">
        <input type="checkbox" class="checkbox" id="breadth" name="breadth" checked="checked">
        <span class="checkbox-icon"></span>
      </label>
      <% if defined? id %>
      <input type="hidden" name="id" value="<%= id %>">
      <% end %>
      <input type="submit">
    </form>
  </div>
</div>
